name: Alarm Service CI

on:
  pull_request:
    branches: [ "dev" ]
    paths:
      - 'alarm-service/**'

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Create application.yml
        run: |
          mkdir -p alarm-service/src/main/resources
          touch alarm-service/src/main/resources/application.yml
          echo "${{ secrets.ALARM_APPLICATION }}" > alarm-service/src/main/resources/application.yml
          cat alarm-service/src/main/resources/application.yml

      - name: Build Alarm Service
        run: |
          ./gradlew :alarm-service:build