name: Chat Service CICD

on:
  push:
    branches: ["dev"]
    paths:
      - 'chat-service/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Create application.yml
        run: |
          mkdir -p chat-service/src/main/resources && cd $_
          touch ./application.yml
          echo "${{ secrets.CHAT_APPLICATION }}" > ./application.yml
          cat ./application.yml

      - name: Build Chat Service
        run: |
          ./gradlew :chat-service:build -x test

      - name: Docker Login
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKER_LOGIN_USERNAME }}
          password: ${{ secrets.DOCKER_LOGIN_ACCESSTOKEN }}

      - name: Docker Image Build and Push
        run: |
          docker build --build-arg SERVICE_NAME=chat-service -t chat-service-image .
          docker push chat-service-image

      - name: Deploy Chat Service via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd ~
            ./deploy_chat_service.sh
            docker image prune -f
