name: Gateway Service CICD

on:
  push:
    branches: ["dev"]
    paths:
      - 'gateway-service/src/main/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Create application.yml
        run: |
          mkdir -p gateway-service/src/main/resources
          touch gateway-service/src/main/resources/application.yml
          echo "${{ secrets.GATEWAY_APPLICATION }}" > gateway-service/src/main/resources/application.yml
          cat gateway-service/src/main/resources/application.yml
      - name: Build Gateway Service
        run: |
          ./gradlew :gateway-service:build -x test

      - name: Docker Login
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKER_LOGIN_USERNAME }}
          password: ${{ secrets.DOCKER_LOGIN_ACCESSTOKEN }}

      - name: Docker Image Build and Push
        run: |
          docker build --build-arg SERVICE_NAME=gateway-service -t ${{ secrets.DOCKER_REPOSITORY }}/gateway-service-image .
          docker push ${{ secrets.DOCKER_REPOSITORY }}/gateway-service-image

      - name: Deploy Gateway Service via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd ~
            ./deploy_gateway_service.sh
            docker image prune -f
