name: User Service CICD

on:
  pull_request:
    branches: ["dev"]
    paths:
      - 'user-service/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Create application.yml
        run: |
          mkdir -p user-service/src/main/resources
          touch user-service/src/main/resources/application.yml
          echo "${{ secrets.USER_APPLICATION }}" > user-service/src/main/resources/application.yml
          cat user-service/src/main/resources/application.yml

      - name: Build User Service
        run: |
          ./gradlew :user-service:build